<!-- ============================================================== -->
<!-- Activity, Referrals -->
<!-- ============================================================== -->
<app-tasks-chart></app-tasks-chart>
<!-- ============================================================== -->
<!-- Task, Feeds -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-tasklist></app-tasklist>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div>
