<div class="row">

  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Totales por tarea-Entidad</h4>
        <h5 class="card-subtitle">Total solicitudes</h5>
        <div class="entidades"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Totales por tarea-Tipos de solicitud</h4>
        <h5 class="card-subtitle">Total solicitudes</h5>
        <div class="solicitudes"></div>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Totales por tarea-Segmentos</h4>
        <h5 class="card-subtitle">Total solicitudes</h5>
        <div class="segmentos"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Totales por tarea-Divisiones</h4>
        <h5 class="card-subtitle">Total solicitudes</h5>
        <div class="divisiones"></div>
      </div>
    </div>
  </div>

</div>
